/*  your css code here. If applicable */
body{
	background-color:#cccccc;
}

.player_one{
	background-color:rgb(255,255,255);

	
}

ul{
	list-style:none;
}

h2,h1{
	text-align:center;
}

video{
	text-align:center;
}

.player_two{
	text-align:center;
	background-color:rgb(255,255,255);
}

.player_three{
	text-align:center;
}